<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication50</title>
    <link href="~/kendoui-styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendoui-styles/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&amp;display=swap" rel="stylesheet">
    <script src="~/scripts/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/jquery.cookie.js"></script>
    <script src="~/kendoui-js/jszip.min.js"></script>
    <script src="~/kendoui-js/kendo.all.min.js"></script>
    <script src="~/scripts/sammy.min.js"></script>
    <script src="~/scripts/routing.js"></script>
    <script src="~/scripts/common/router.js"></script>
    <script src="~/scripts/common/set.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        html, body {
            font-family: Calibri;
            min-height: 100% !important;
            height: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100% ;
        }

        .k-drawer-container {
            min-height: 100% !important;
            height: 100%;
        }

        .k-widget .k-drawer {
            position: inherit;
        }

        .hidden {
            display: none;
        }


        .k-toolbar .k-icon {
            font-size: 18px;
        }

        #drawer-content ul {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        h6 {
            font-size: 1rem;
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
        }

        .k-drawer-content {
            padding: 3px;
        }

        .kendoka {
            margin: 0 auto;
            width: 300px;
            height: 300px;
            background-size: cover;
            background-image: url('https://demos.telerik.com/kendo-ui/content/shared/images/site/kendoka-cta.svg');
        }

        .header {
            text-align: center;
            margin-bottom: 30px;
            margin-left: 8px;
            font-weight: bold;
            font-size: 20px;
        }

        .k-rounded-md {
             border-radius: 0px;
        }
        .k-toolbar .k-toggle-button {
          float: right;
          margin-top: 5px; 
        }
    </style>
    
    @await RenderSectionAsync("Scripts", required: true)
</head>
<body>
    <div class="container-fluid" style=" min-height: 100% !important;height: 100%;padding:1px">
        <main role="main" id='MainContent' class="pb-3" style=" min-height: 100% !important;height: 100%;">
            <div id="toolbar"></div>
            <div id="drawer">
                <div id="drawer-content">
                    <section id="page" class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </main>
    </div>
   
    <script src="~/scripts/common/menu.js"></script>
    <script>
        $(function () {
            var routing = new Routing('@Url.Content("~/")', '#page', '');
            routing.init();
        });
        if ($.cookie('theme') !== undefined && $.cookie('theme') !== '') {
            var css = $('link[href^="/kendoui-styles/"]')[1];
            css.href = '/kendoui-styles/' + $.cookie('theme') + '.css';
        }
        
        $.Set.ServiceUrl = '@Context.Request.Host';
    </script>
</body>
</html>